# =========================
# Build / Compiler Output
# =========================

Debug/
Release/
Binaries/
*.o
*.obj
*.exe
*.out

# =========================
# Eclipse / CDT
# =========================

.metadata/
.settings/
*.launch

# =========================
# OS Noise
# =========================

.DS_Store
Thumbs.db
